.accordion-item{
    background-color: transparent;
    border: none;
}

.accordion-content {
    color: #fff;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out; 
    }

.accordion-header {
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.3s;
}