.navbar-logo {
    width: 4em; /* Or whatever fixed size you prefer */
    height: auto; /* To maintain the aspect ratio */
    margin-right: 0.5em; /* Space between logo and brand name */
}

.heads {
    background-color: #ffffff;
}
  